

.foki {
    background: url("../../images/testhack3.png") no-repeat center;
    height: 100vh;
    color: rgb(59, 141, 211);
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    padding-left: 700px;
    padding-top: 275px;
    font-family: 'Ubuntu', sans-serif;
}

.foki .foki2 {
     margin: auto;
    border-radius: 30px;
    border-style:ridge;
    border-color: #002b8b;
    color: black;
    width: 400px;
    height: 400px;
    background-color: rgb(90, 161, 221);
    padding: 20px;
}
.foki .foki2 .text-foki {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
font-size: 1.2em;
}

.foki .foki2 .title-foki{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.7em;
    color : #003365;
}

.list-unstyled{
    font-size: 1.2em;
}

.button-foki{
    display: inline-block;
    background: #acd6f2;
    color: rgb(0, 60, 124);
    font-size: 20px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid #267dff;
    transition: all 0.3s ease;
}
.button-foki:hover{
    color: #ffffff;
    background: none;
}
.floki{
   padding-left: 45px;
    
}

.floki-texto{
    font-size: 1.3em;
}

@media screen and (max-width: 1100px ){
    .foki{
       padding: 0;
       padding-top: 300px;
    }
}